In [26]:
import pandas as pd

In [25]:
# Read an Excel file
df = pd.read_excel('M&A_data.xlsx', sheet_name='Data')

# Display the first 5 rows of the dataframe
print(df.head())

      Deal Number               Acquiror Name Acquiror State Acquiror Nation  \
0  master_deal_no                    acq_name      acq_state      acq_nation
1       118827020     First West Capital Corp     California   United States
2       125504020  Valley National Bancorp,NJ     New Jersey   United States
3       140363020                    Citicorp       New York   United States
4       143183020        TrustCo Bank Corp,NY       New York   United States

  Acquiror SIC2 Acquiror SIC4 Acquiror High Tech Industry  \
0      acq_sic2      acq_sic4                acq_hightech
1            60          6021                           0
2            60          6021                           0
3            60          6021                           0
4            60          6022                           0

                    Target Name Target State  Target Nation  ...  \
0                      tar_name    tar_state     tar_nation  ...
1         Hotel Investors Trust   California  United States  ...
2      Mayflower Financial Corp   California  United States  ...
3         Brookfield Bancshares     Illinois  United States  ...
4  National Savings Bank,Albany     New York  United States  ...

  Deal Year of Announcement Date  Deal Status Deal Completed  Deal Value  \
0                      deal_year  deal_status  deal_complete  deal_value
1                           1990    Withdrawn              0   66.769997
2                           1990    Completed              1   21.209999
3                           1990    Completed              1       19.84
4                           1990    Withdrawn              0   44.310001

  Deal Price per Share Deal Target Share Price [T-1] Deal Premium (in %)  \
0           deal_price                    deal_share        deal_premium
1                 5.25                          8.25          -36.363636
2                   17                            11           54.545456
3            40.779999                            43           -5.162793
4            38.130001                            28           36.178574

  Cross-border deal Cross-industry deal
0  deal_crossborder  deal_crossindustry
1               NaN                 NaN  NaN
2               NaN                 NaN  NaN
3               NaN                 NaN  NaN
4               NaN                 NaN  NaN

[5 rows x 29 columns]

In [27]:
# rows & columns
df.shape

(13858, 29)

In [28]:
# data types
df.dtypes

Deal Number                       object
Acquiror Name                     object
Acquiror State                    object
Acquiror Nation                   object
Acquiror SIC2                     object
Acquiror SIC4                     object
Acquiror High Tech Industry       object
Target Name                       object
Target State                      object
Target Nation                     object
Target SIC2                       object
Target SIC4                       object
Target High Tech Industry         object
Target Net Sales                  object
Target EBIT                       object
Target Net Income                 object
Target Total Assets               object
Target Earnings Per Share         object
Deal Announcement Date            object
Deal Year of Announcement Date    object
Deal Status                       object
Deal Completed                    object
Deal Value                        object
Deal Price per Share              object
Deal Target Share Price [T-1]     object
Deal Premium (in %)               object
Cross-border deal                 object
Cross-industry deal               object
                                  object
dtype: object

#### 14a) What is the average “Deal premium”

In [31]:
column_name = "Deal Premium (in %)"
# change data type to float for all rows starting from index 2
df[column_name][2:-1] = df[column_name][2:-1].astype(float)

In [39]:
# get mean for Deal Premium in percentages
df[column_name][2:-1].mean()

33.374739363333745